* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Section */

.home-content {
  margin-top: 10vh;
  text-align: center;
}

.home-text {
  font-weight: 400;
}

.home-button {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  color: black;
}

.home-button:hover, .home-button:focus {
  margin-top: 20px;
  border: black;
  border-radius: 5px;
  padding: 10px;
  background-color: #2c2a35;
  color: white;
}


/* Modal Section */

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.01);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 10px;
  max-height: 100vh;
  height: 400px;
  width: 440px;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #1f1d28;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: 101;
  border-radius: 15px;
  overflow-y: auto;
}

.modal-header {
  position: relative;
  padding: 0;
  width: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Modal Section End */

/* Search Section */

#search-input {
  flex: 1;
	display: flex;
	align-items: center;
  background-color: #1f1d28;
}

#search-input #search {
	letter-spacing: 1px;
	width: 100%;
	background: none;
	border: none;
	/* border-bottom: solid 1px lightgray; */
	padding: 10px 20px 10px 10px;
  color: gray;
	transition: border-bottom-color .3s;
}

#search-input #search:focus {
	outline: none;
	border-bottom-color: #fff;
}

/* Search Section End*/

/* Button Section */

.content-button {
  position: relative;
  background-color: #1f1d28;
  border: none;
  margin-bottom: 10px;
  left: 0px;
  height: 42px;
  width: 100%;
  border-radius: 8px;
  color: white;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.content-button:active {
  background-color: #2c2a35;
  border: none;
}

.content-button:hover {
  background-color: #2c2a35;
  border: none;
}

.button-items {
  display: flex;
  padding: 6px 0;
  align-items: center;
  width: 100%;
}

.button-label {
  flex-grow: 1;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.button-key {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #555464;
}

.button-icon {
  padding-top: 3px;
  margin-right: 5px;
  color: #555464;
}

/* Button Section End */

/* Content Section */

.content {
  height: 90%;
  padding-top: 10px;
}

/* Content Section End */
